@import url("fonts.css");
html {
  cursor: url("../img/nier-cursor.png"), auto;
}

/* GSAP animations */
.wrap__column {
  opacity: 0;
}

h2 span {
  opacity: 0;
}

.button-text span {
  opacity: 0;
}

.wrap__group .button {
  opacity: 0;
}

/* End GSAP animatios */
h3 {
  all: unset;
}

h2 {
  all: unset;
}

body {
  background-color: #cdc8b0;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 5px, rgba(0, 0, 0, 0.07) 6px), linear-gradient(transparent, transparent 5px, rgba(0, 0, 0, 0.07) 6px);
  color: #4d493e;
  font-family: robin_pro_db;
  margin: 0;
  /* position: relative; */
  /* box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3); */
  /* box-shadow: 0 0 120px inset #1103, 0 0 60px inset #1106; */
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../img/nier-border.svg) repeat-x;
  background-size: contain;
  bottom: auto;
  top: 30px;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../img/nier-border.svg) repeat-x;
  background-size: contain;
  top: auto;
  bottom: 30px;
}

main {
  display: grid;
  grid-template-rows: 767px;
}

/* Group buttons */
.wrap {
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(5, 1fr);
}
.wrap__column {
  margin-left: 32px;
  grid-row: 2;
  width: 210px;
}
.wrap__text {
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 64px;
  text-shadow: 5px 5px 0px rgba(72, 70, 61, 0.25);
}
.wrap__group {
  display: flex;
  flex-direction: column;
  padding-left: 42px;
  /*  */
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #b4af9a, #b4af9a 7px, transparent 7px, transparent 10px, #b4af9a 10px, #b4af9a 12px, transparent 12px);
}
.wrap__group .button {
  margin-bottom: 18px;
}
.wrap__group form {
  margin-bottom: 18px;
  display: grid;
}
.wrap__group .button:last-child {
  margin-bottom: 0;
}
.wrap__group form:last-child {
  margin-bottom: 0;
}

/* End group buttons */
/* Text shadow */
.shadow-text {
  text-shadow: 5px 4px 0px rgba(72, 70, 61, 0.25);
  position: relative;
}

/* End text shadow */
/* button */
.button {
  position: relative;
  font-family: robin_pro_db;
  background: linear-gradient(90deg, #b4af9a 0%, #b4af9a 50%, #4d493e 50%, #4d493e 100%);
  background-size: 200%;
  color: #4d493e;
  border: none;
  padding: 8px 8px 7px;
  line-height: 1;
  cursor: pointer;
  text-align: left;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* Span text */
  /* End span text */
  /* Span icon pointer */
  /* End span icon pointer */
}
.button__text {
  display: flex;
  align-items: center;
  font-size: 16px;
  /*justify-content: center;*/
}
.button__text:before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #4d493e;
  margin-right: 6px;
  transition: background-color 0.15s ease-in-out;
}
.button__icon {
  content: "";
  display: block;
  position: absolute;
  left: -42px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 20px;
  background: url("../img/nier-pointer.svg") no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.button::before {
  height: 1px;
  width: 100%;
  left: 0px;
  bottom: -1px;
  content: "";
  background-color: #4d493e;
  position: absolute;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.button::after {
  height: 1px;
  width: 100%;
  left: 0px;
  top: -1px;
  content: "";
  background-color: #4d493e;
  position: absolute;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.button:hover, .button:active, .button:focus {
  background-position: -100% 100%;
  color: #cdc8b0;
  box-shadow: 4px 4px 6px 2px rgba(72, 70, 61, 0.15);
  outline: 0;
}
.button:hover .button__text::before, .button:active .button__text::before, .button:focus .button__text::before {
  background: #cdc8b0;
}
.button:hover::after {
  opacity: 1;
  top: -4px;
}
.button:hover::before {
  opacity: 1;
  bottom: -4px;
}
.button:hover .button__icon, .button:focus .button__icon {
  opacity: 1;
}

/* SVG circles */
.firstCircle {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.secondCircle {
  display: inline-block;
  text-align: center;
  position: absolute;
  transform: rotate(180deg);
}

/* End SVG circles */
/* Animate SVG circles */
.bigCircle {
  -webkit-animation: bigCircle 20s ease-in-out infinite;
          animation: bigCircle 20s ease-in-out infinite;
}

.smallCircle {
  -webkit-animation: smallCircle 19s ease-in-out infinite;
          animation: smallCircle 19s ease-in-out infinite;
}

.middleLine {
  -webkit-animation: middleLine 20s ease-in-out infinite;
          animation: middleLine 20s ease-in-out infinite;
}

.rightLine {
  -webkit-animation: rightLine 19s ease-in-out infinite;
          animation: rightLine 19s ease-in-out infinite;
}

.leftLine {
  -webkit-animation: leftLine 18s ease-in-out infinite;
          animation: leftLine 18s ease-in-out infinite;
}

@-webkit-keyframes bigCircle {
  0% {
    transform: translateX(-10px) translateY(-10px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-10px) translateY(-10px);
  }
}

@keyframes bigCircle {
  0% {
    transform: translateX(-10px) translateY(-10px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-10px) translateY(-10px);
  }
}
@-webkit-keyframes smallCircle {
  0% {
    transform: translateX(-6px) translateY(-6px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-6px) translateY(-6px);
  }
}
@keyframes smallCircle {
  0% {
    transform: translateX(-6px) translateY(-6px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-6px) translateY(-6px);
  }
}
@-webkit-keyframes middleLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@keyframes middleLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@-webkit-keyframes rightLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@keyframes rightLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@-webkit-keyframes leftLine {
  0% {
    transform: translateX(15px) translateY(0);
  }
  50% {
    transform: translateX(-15px) translateY(0);
  }
  100% {
    transform: translateX(15px) translateY(0);
  }
}
@keyframes leftLine {
  0% {
    transform: translateX(15px) translateY(0);
  }
  50% {
    transform: translateX(-15px) translateY(0);
  }
  100% {
    transform: translateX(15px) translateY(0);
  }
}
/* End animate SVG circles */
@media screen and (max-width: 1120px) {
  .firstCircle {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .secondCircle {
    opacity: 0;
    width: 0;
    height: 0;
  }

  main {
    grid-template-rows: 800px;
  }

  .wrap {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: left;
    margin-left: 32px;
    grid-template-areas: none;
    transform: scale(1.5);
  }
}
@media screen and (max-width: 1024px) {
  .wrap {
    transform: scale(1.9);
    margin-left: 64px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    grid-template-columns: 300px;
    transform: scale(1.4);
    margin-left: 74px;
  }
}
@media screen and (max-width: 414px) {
  main {
    grid-template-rows: 600px;
  }

  .wrap {
    grid-template-columns: 300px;
    padding-top: 40px;
    transform: scale(1.2);
    margin-left: 24px;
  }
}
@media screen and (max-width: 360px) {
  main {
    grid-template-rows: 600px;
  }

  .wrap {
    grid-template-columns: 300px;
    transform: scale(1.2);
    margin-left: 34px;
  }
}/*# sourceMappingURL=menuStyle.css.map */