@import url("fonts.css");

$mainColor: #cdc8b0;
$inMainBlockColor: #dad4ba;
$textColor: #4e4b42;
$buttonHover: #635f54;
$circleColor: #b4af9a;

html {
  cursor: url("../img/nier-cursor.png"), auto;
}

body {
  background-color: $mainColor;
  background-size: 6px 6px;
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent 5px,
      rgba(0, 0, 0, 0.07) 6px
    ),
    linear-gradient(transparent, transparent 5px, rgba(0, 0, 0, 0.07) 6px);
  color: $textColor;
  font-family: robin_pro_db;
  margin: 0;
  /* position: relative; */
  /* box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3); */
  /* box-shadow: 0 0 120px inset #1103, 0 0 60px inset #1106; */
  //  взял из другого сайта, более удачная модель теней
}
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../img/nier-border.svg) repeat-x;
  background-size: contain;
  bottom: auto;
  top: 30px;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../img/nier-border.svg) repeat-x;
  background-size: contain;
  top: auto;
  bottom: 30px;
}
.wrap {
  display: grid;
  grid-template: 50px 700px 50px / repeat(26, 1fr);
}
header {
  display: grid;
  background-color: azure;
  grid-area: 1 / 2 / 1 / 26;
  grid-template-columns: inherit;
}

nav {
  // margin-left: 20px;
  grid-area: 1 / 1 / 1 / 27;
  align-self: flex-end;
  background-image: linear-gradient(
    90deg,
    /* rgba(77, 73, 62, 0.2) */ $circleColor,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 10px,
    transparent 10px,
    transparent 15.5px,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 15.5px,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 18px,
    transparent 18px
  );
}
.button__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
}
main {
  background-color: black;
  grid-area: 2 / 2 / 2 / 26;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 85px 1fr;
  grid-auto-flow: column;
}
footer {
  background-image: linear-gradient(
    90deg,
    /* rgba(77, 73, 62, 0.2) */ $circleColor,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 10px,
    transparent 10px,
    transparent 15.5px,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 15.5px,
    /* rgba(77, 73, 62, 0.2) */ $circleColor 18px,
    transparent 18px
  );
  background-color: brown;
  grid-area: 3 / 2 / 3 / 26;
}
.button__group .button {
  width: 153px;
  height: 33px;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-transform: uppercase;
  text-shadow: 5px 4px 0px rgb(72 70 61 / 25%);
  letter-spacing: 4px;
  grid-area: 1/1/1/27;
  color: white;
  background-color: purple;
  // display: none;
  font-family: robin_pro_db;
  font-size: 32px;
}
.title span {
  position: relative;
  margin-left: 5px;
}
.left {
  background-color: bisque;
  grid-area: 2 / 1 / 2 / 9;

  &__window {
    display: flex;
    position: relative;
    background-color: aqua;
    // position: relative;
    margin-top: 50px;
    height: 386px; //65%
    width: 100%;
    background-image: linear-gradient(
      90deg,
      /* rgba(77, 73, 62, 0.2) */ $circleColor,
      /* rgba(77, 73, 62, 0.2) */ $circleColor 10px,
      transparent 10px,
      transparent 15.5px,
      /* rgba(77, 73, 62, 0.2) */ $circleColor 15.5px,
      /* rgba(77, 73, 62, 0.2) */ $circleColor 18px,
      transparent 18px
    );
    &__section {
      width: 100%;
      margin: 0% 0% 0% 40px;
      background-color: chocolate;

      &__buttons {
        display: flex;
        flex-direction: column;
      }
      &__buttons .button {
        margin-bottom: 5px;
        width: 95%;
        background: linear-gradient(
          90deg,
          /* rgba(72, 70, 61, 0.25) */ transparent 0%,
          /* rgba(72, 70, 61, 0.25) */ transparent 50%,
          $buttonHover 50%,
          $buttonHover 100%
        );
        background-size: 201%;
      }
      &__buttons .button:first-child {
        margin-top: 10px;
      }
    }
  }
}
.center {
  background-color: yellow;
  grid-area: 2 / 10 / 2 / 18;

  &__window {
    position: relative;
    margin-top: 50px;
    background-color: aqua;
    height: 386px; //65%
    width: 100%;

    &__title {
      background-color: $textColor;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: max-content;
    }
    &__title span {
      color: $mainColor;
      width: 100%;
      height: 100%;
      padding-left: 5%;
      overflow-wrap: break-word;
    }
    &__img {
      background-color: aquamarine;
      height: 50%;
      margin: 5% 5% 0% 5%;
    }
    .tet {
      margin: 0% 5% 0% 5%;
      overflow-wrap: break-word;
    }
  }
}
hr {
  border: none;
  height: 2px;
  background-color: black;
  margin: 3% 5% 0% 5%;
}
.right {
  background-color: tomato;
  grid-area: 2 / 19 / 2 / 27;

  &__window {
    position: relative;
    background-color: violet;
    height: 386px;
    margin-top: 50px;
    width: 100%;

    &__title {
      background-color: $textColor;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: max-content;
    }
    &__title span {
      color: $mainColor;
      width: 100%;
      height: 100%;
      padding-left: 5%;
    }
    &__specif {
      display: flex;
      justify-content: space-between;

      & span {
        margin: 0% 5% 0% 5%;
      }
    }
    &__square {
      display: flex;
      margin: 3% 5% 0% 5%;
      flex-direction: row;
      justify-content: space-between;

      & div {
        width: 14px;
        height: 14px;
        border: 1px solid black;
      }
    }
  }
}



/* button */
.button {
  position: relative;
  font-family: robin_pro_db;
  background: linear-gradient(
    90deg,
    /* rgba(72, 70, 61, 0.25) */ $circleColor 0%,
    /* rgba(72, 70, 61, 0.25) */ $circleColor 50%,
    $buttonHover 50%,
    $buttonHover 100%
  );
  background-size: 200%;
  color: $textColor;
  border: none;
  padding: 8px 8px 7px;
  line-height: 1;
  cursor: pointer;
  text-align: left;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  /* Span text */
  &__text {
    display: flex;
    align-items: center;
    font-size: 16px;
    /*justify-content: center;*/

    &:before {
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      background: $textColor;
      margin-right: 6px;
      transition: background-color 0.15s ease-in-out;
    }
  }
  /* End span text */

  /* Span icon pointer */
  &__icon {
    content: "";
    display: block;
    position: absolute;
    left: -42px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 20px;
    background: url("../img/nier-pointerT.svg") no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  /* End span icon pointer */
  &::before {
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: -1px;
    content: "";
    background-color: $textColor;
    position: absolute;
    transition: all 0.25s ease-in-out;
    opacity: 0;
  }
  &::after {
    height: 1px;
    width: 100%;
    left: 0px;
    top: -1px;
    content: "";
    background-color: $textColor;
    position: absolute;
    transition: all 0.25s ease-in-out;
    opacity: 0;
  }
  &:hover,
  &:active,
  &:focus {
    background-position: -100% 100%;
    color: $mainColor;
    box-shadow: 4px 4px 6px 2px rgba(72, 70, 61, 0.15);
    outline: 0;
  }
  &:hover &__text::before,
  &:active &__text::before,
  &:focus &__text::before {
    background: $mainColor;
  }
  &:hover::after {
    opacity: 1;
    top: -4px;
  }
  &:hover::before {
    opacity: 1;
    bottom: -4px;
  }
  &:hover &__icon,
  &:focus &__icon {
    opacity: 1;
  }
}
/* End button */
/* SVG circles */
.firstCircle {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.secondCircle {
  display: inline-block;
  text-align: center;
  position: absolute;
  transform: rotate(180deg);
}
/* End SVG circles */

/* Animate SVG circles */
.bigCircle {
  animation: bigCircle 20s ease-in-out infinite;
}
.smallCircle {
  animation: smallCircle 19s ease-in-out infinite;
}
.middleLine {
  animation: middleLine 20s ease-in-out infinite;
}
.rightLine {
  animation: rightLine 19s ease-in-out infinite;
}
.leftLine {
  animation: leftLine 18s ease-in-out infinite;
}

@keyframes bigCircle {
  0% {
    transform: translateX(-10px) translateY(-10px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-10px) translateY(-10px);
  }
}
@keyframes smallCircle {
  0% {
    transform: translateX(-6px) translateY(-6px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-6px) translateY(-6px);
  }
}
@keyframes middleLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@keyframes rightLine {
  0% {
    transform: translateX(0px) translateY(-15px);
  }
  50% {
    transform: translateX(0px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(-15px);
  }
}
@keyframes leftLine {
  0% {
    transform: translateX(15px) translateY(0);
  }
  50% {
    transform: translateX(-15px) translateY(0);
  }
  100% {
    transform: translateX(15px) translateY(0);
  }
}
/* End animate SVG circles */
/* Media */
@media screen and (max-width: 1120px) {
  .firstCircle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .secondCircle {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* End media */
